/* Use your CSS from RWD - I here.  IF you don't have CSS, use the solution CSS from RWD - I*/
.banner {
  background: url('/assets/coding.jpg');
  background-size: cover;
  background-color: white;
  background-position: center;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.banner .banner-content {
  width: 500px;
  display: flex;
  height: 500px;
  flex-direction: column;
  margin: 300px auto;
  align-items: center;
}
.banner .content {
  top: 100vh;
  height: 1200px;
  position: relative;
  background-color: white;
}
.banner .banner-text {
  color: white;
  left: 25%;
  top: 40%;
  font-size: 30px;
}
.banner .banner-name {
  color: white;
  font-size: 50px;
}
.banner .profile-picture {
  width: 164px;
  height: 220px;
  margin-bottom: 40px;
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.5s;
}
.banner .profile-picture:hover {
  transform: scale(1.03);
}
.banner button {
  color: white;
  right: 25%;
  top: 40%;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  transition: 0.7s;
  margin-top: 50px;
  padding: 20px;
  cursor: pointer;
}
.banner button:hover {
  transform: scale(1.03);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'ZCOOL XiaoWei', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'ZCOOL XiaoWei', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.navbar {
  background-color: black;
  opacity: 1;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  border-bottom: 1px solid whitesmoke;
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  transition: 0.7s ease-in-out;
}
.navbar .title {
  font-size: 30px;
  margin: 20px;
}
.navbar .link-container {
  margin: 20px;
  justify-content: space-between;
  height: 50px;
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .navbar .link-container {
    display: none;
  }
}
.navbar .menu-buttons {
  display: none;
  margin: 20px;
  transition: 0.5s ease-in-out;
}
.navbar .menu-buttons:hover {
  transform: scale(1.05);
}
@media (max-width: 800px) {
  .navbar .menu-buttons {
    display: inline;
  }
}
.navbar .menu-buttons .exit {
  display: none;
}
.navbar .link {
  margin: 0 20px;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 20px;
  border-bottom: 3px solid transparent;
  transition: 0.5s ease-in-out;
}
.navbar .link:hover {
  border-bottom: 3px solid white;
}
.navbar .link:active {
  border-bottom: 3px solid white;
}
.main-button {
  color: white;
  right: 25%;
  top: 40%;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  transition: 0.7s;
  margin-top: 50px;
  padding: 20px;
  cursor: pointer;
}
.main-button:hover {
  transform: scale(1.03);
}
