/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'ZCOOL XiaoWei', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'ZCOOL XiaoWei', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.main-button {
  color: white;
  right: 25%;
  top: 40%;
  font-size: 30px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  transition: 0.7s;
  margin-top: 50px;
  padding: 20px;
  cursor: pointer;
}
.main-button:hover {
  transform: scale(1.03);
}
.navbar {
  background-color: #050505;
  opacity: 1;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  border-bottom: 1px solid whitesmoke;
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  transition: 0.5s ease-in-out;
}
@media (max-width: 800px) {
  .navbar {
    align-items: center;
    justify-content: center;
  }
}
.navbar .title {
  transition: 0.5s ease-in-out;
  font-size: 30px;
  position: absolute;
  top: 35px;
  left: 20px;
}
.navbar .link-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
@media (max-width: 800px) {
  .navbar .link-container {
    flex-direction: column;
    height: 500px;
    opacity: 0;
  }
}
.navbar .menu-buttons {
  display: none;
  position: absolute;
  top: 25px;
  right: 20px;
  transition: 0.5s ease-in-out;
}
.navbar .menu-buttons:hover {
  transform: scale(1.05);
}
@media (max-width: 800px) {
  .navbar .menu-buttons {
    display: inline;
    opacity: 1;
  }
}
.navbar .menu-buttons .exit {
  display: none;
}
.navbar .link {
  margin: 0 20px;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 20px;
  border-bottom: 3px solid transparent;
  transition: 0.5s ease-in-out;
}
.navbar .link:hover {
  border-bottom: 3px solid white;
  transform: scale(1.05);
}
.navbar .link:active {
  border-bottom: 3px solid white;
}
.navbar-expanded {
  transition: 0.5s ease-in-out;
  height: 100vh;
  display: flex;
  opacity: 0.7;
  justify-content: center;
}
.navbar-expanded .menu-buttons {
  display: inline;
}
.navbar-expanded .title-expanded {
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.navbar-expanded .link-container-expanded {
  transition: 0.2s ease-in-out;
  opacity: 1;
}
@media (max-width: 800px) {
  .navbar-expanded .link-container-expanded {
    display: flex;
  }
}
.navbar-expanded .link-container-expanded .link {
  font-size: 30px;
  height: 75px;
  transition: 0.2s ease-in-out;
}
.navbar-expanded .link-container-expanded .link:hover {
  border-bottom: 3px solid white;
  transform: scale(1.05);
}
/* Use your CSS from RWD - I here.  IF you don't have CSS, use the solution CSS from RWD - I*/
.banner {
  background-size: cover;
  background-color: #fafafa;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.banner .banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 300px;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.banner .content {
  top: 100vh;
  height: 1200px;
  position: relative;
  background-color: #0a0a0a;
}
.banner .banner-text {
  width: 100%;
  color: #141414;
  left: 25%;
  top: 40%;
  font-size: 30px;
}
.banner .banner-name {
  color: #141414;
  font-size: 50px;
}
.banner .profile-picture {
  max-width: 300px;
  height: auto;
  margin-bottom: 40px;
  border-radius: 5px;
  border: 1px solid #766f6f;
  transition: 0.5s;
}
.banner .profile-picture:hover {
  transform: scale(1.03);
}
.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  flex-direction: column;
  margin-top: 200px;
}
.arrow-container .arrow-pop-up {
  opacity: 0;
  font-size: 10px;
  margin: 0 auto;
  z-index: 10px;
  transform: translateY(40px);
  transition: 0.3s ease-in-out;
}
.arrow-container .portfolio-arrow-hover {
  transform: translateY(20px);
  opacity: 1;
  color: #000000;
}
.arrow-container .arrow {
  transform: rotate(-135deg);
  width: 60px;
  height: 60px;
  background: transparent;
  border-top: 2px solid #bfbfbf;
  border-left: 2px solid #bfbfbf;
  transition: border-width 250ms ease-in-out;
  text-decoration: none;
  color: transparent;
}
.arrow-container .arrow:hover {
  border-color: #070707;
  border-width: 2px;
  height: 65px;
  width: 65px;
}
.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}
.portfolio-container .arrow-container {
  position: absolute;
  bottom: 50px;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
