/* Use your CSS from RWD - I here.  IF you don't have CSS, use the solution CSS from RWD - I*/

.banner {
    background: url('/assets/coding.jpg');
    background-size: cover;
    background-color: aquamarine;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    .banner-content {
        width: 500px;
        display: flex;
        height: 500px;
        flex-direction: column;
        margin: 300px auto;
        align-items: center;
    }
    
    .content {
        top: 100vh;
        height: 1200px; 
        position: relative;
        background-color: white;
    }
    
    .banner-text {
        color: white;
        left: 25%;
        top: 40%;
        font-size: 30px;
    }
    
    .banner-name {
        color: white;
        font-size: 50px;
    
    }

    .profile-picture {
        width: 164px;
        height: 220px;
        margin-bottom: 40px;
        border-radius: 50%;
        border: 5px solid white;
        transition: .5s;
        &:hover {
            border: 5px solid aquamarine;
        }
    }
    
    button {
        color: white;
        right: 25%;
        top: 40%;
        font-size: 30px;
        border: 2px solid aquamarine;
        border-radius: 5px;
        background-color: black;
        transition: .7s;
        margin-top: 50px;
        padding: 20px;
    
        &:hover {
            color: black;
            background-color: aquamarine;
        }
    }
}


