/* Use your CSS from RWD - I here.  IF you don't have CSS, use the solution CSS from RWD - I*/

.banner {
    background: url('/assets/coding.jpeg');
    background-size: cover;
    background-color: aquamarine;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner-content {
    width: 500px;
    display: flex;
    height: 500px;
    flex-direction: column;
    margin: 300px auto;
}

.content {
    top: 100vh;
    height: 1200px; 
    position: relative;
    background-color: white;
}

.banner-text {
    color: white;
    left: 25%;
    top: 40%;
    font-size: 60px;
}

button {
    color: white;
    right: 25%;
    top: 40%;
    font-size: 60px;
    border: 2px solid aquamarine;
    border-radius: 10px;
    background-color: black;
    transition: .7s;

    &:hover {
        color: black;
        background-color: aquamarine;
    }
}