    
.main-button {
    color: white;
    right: 25%;
    top: 40%;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    transition: .7s;
    margin-top: 50px;
    padding: 20px;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }
}

.center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.test() {
    border: 1px solid red;
}
