.portfolio-container {
    .center();
    color: #bfbfbf;
    flex-direction: column;
    position: relative;
    height: 100vh;

    .arrow-container {
        position: absolute;
        bottom: 50px;

    }

    .projects {
        .center();
        width: 90%;
        color: #bfbfbf;

        img {
            width: 70%;

        }
    }
}