.project {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bfbfbf;
    transition: .3s ease-in-out;
    position: relative;

    img {
        width: 800px;
        padding: 0;
        position: absolute;
        right: -250px;
        margin-left: 5+00px;
    }

    .project-description {
        .center();
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding-left: 0;     
        position: absolute;  
        right: -250px;

        h2 {
            font-size: 22px;
        }

        a {
            .button();
            text-decoration: none;
            padding: 10px;
        }
    }
}