.project {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bfbfbf;
    transition: .3s ease-in-out;
    width: 100%;

    img {
        width: 75%;
        padding: 20px;
    }

    .project-description {
        .center();
        flex-direction: column;
        justify-content: center;
        margin-right: 40px;
        width: 25%;

        h2 {
            font-size: 22px;
        }

        a {
            .button();
            text-decoration: none;
            padding: 10px;
        }
    }
}